apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: health-samurai-prod

resources:
  - ../../base
  - ingress.yaml

namePrefix: prod-

commonLabels:
  environment: production

replicas:
  - name: health-samurai-web
    count: 3

configMapGenerator:
  - name: health-samurai-config
    behavior: merge
    literals:
      - GIT_BRANCH=main
      - POLL_INTERVAL=120

images:
  - name: health-samurai-web
    newName: ghcr.io/healthsamurai/health-samurai-web
    newTag: latest
