.wf-force-outline-none[tabindex="-1"]:focus{outline:none;}


.w-slider-dot {
background:#D8D8D8;
width:10px;
height:10px;
margin-right: 6px;
}

.w-slider-dot.w-active {
background:#EA4A35;
}

.w-slider-nav.w-shadow>div {
box-shadow: none;
}
