.wf-force-outline-none[tabindex="-1"]:focus{outline:none;}


.w-slider-dot {
background:#D8D8D8;
width:10px;
height:10px;
margin-right: 6px;
}

.w-slider-dot.w-active {
background:#EA4A35;
}

.w-slider-nav.w-shadow>div {
box-shadow: none;
}


 
html { font-size: 1rem; }
  @media screen and (max-width:1440px) { html { font-size: calc(-0.0006236080178174674rem + 1.111804008908686vw); } }
  @media screen and (max-width:991px) { html { font-size: calc(0.00016071428571418078rem + 2.085714285714286vw); } }
  @media screen and (max-width:767px) { html { font-size: calc(0.0010050251256281673rem + 2.814070351758794vw); } }
  @media screen and (max-width:568px) { html { font-size: calc(-0.0019775280898881586rem + 2.822471910112361vw); } }
  @media screen and (max-width:479px) { html { font-size: calc(0.0008988764044947084rem + 3.8vw); } }
  @media screen and (max-width:390px) { html { font-size: calc(-0.002570694087403599rem + 3.8vw); } } 
  
  * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}



h1, h2, h3, h4,h5, h6, p {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.w-lightbox-close {
outline: 0px !important;
}






@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.scroll {
  animation: scroll 40s linear infinite;
}

.reverse {
  animation-direction: reverse;
}
