apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
stringData:
  POSTGRES_USER: healthsamurai
  POSTGRES_PASSWORD: healthsamurai
  POSTGRES_DB: healthsamurai
  DATABASE_URL: postgres://healthsamurai:healthsamurai@postgres:5432/healthsamurai
