<!-- basic-card -->
<div class="overflow-hidden rounded-lg bg-white shadow-sm">
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
</div>


<!-- card-edge-to-edge-on-mobile -->
<div class="overflow-hidden rounded-lg bg-white shadow-sm">
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
</div>


<!-- card-with-header -->
<!-- Be sure to use this with a layout container that is full-width on mobile -->
<div class="overflow-hidden bg-white shadow-sm sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
</div>


<!-- card-with-footer -->
<!-- Be sure to use this with a layout container that is full-width on mobile -->
<div class="overflow-hidden bg-white shadow-sm sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
</div>


<!-- card-with-header-and-footer -->
<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm">
  <div class="px-4 py-5 sm:px-6">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card headers on desktop than on body sections -->
  </div>
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
</div>


<!-- card-with-gray-footer -->
<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm">
  <div class="px-4 py-5 sm:px-6">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card headers on desktop than on body sections -->
  </div>
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
</div>


<!-- card-with-gray-body -->
<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm">
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
  <div class="px-4 py-4 sm:px-6">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
  </div>
</div>


<!-- well -->
<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm">
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
  <div class="px-4 py-4 sm:px-6">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
  </div>
</div>


<!-- well-on-gray -->
<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm">
  <div class="px-4 py-5 sm:px-6">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card headers on desktop than on body sections -->
  </div>
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
  <div class="px-4 py-4 sm:px-6">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
  </div>
</div>


<!-- well-edge-to-edge-on-mobile -->
<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm">
  <div class="px-4 py-5 sm:px-6">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card headers on desktop than on body sections -->
  </div>
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
  <div class="px-4 py-4 sm:px-6">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
  </div>
</div>
