<!-- full-width-on-mobile-constrained-with-padded-content-above -->
<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
  <!-- Content goes here -->
</div>


<!-- constrained-with-padded-content -->
<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
  <!-- Content goes here -->
</div>


<!-- full-width-on-mobile-constrained-to-breakpoint-with-padded-content-above-mobile -->
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <!-- Content goes here -->
</div>


<!-- constrained-to-breakpoint-with-padded-content -->
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <!-- Content goes here -->
</div>


<!-- narrow-constrained-with-padded-content -->
<div class="container mx-auto sm:px-6 lg:px-8">
  <!-- Content goes here -->
</div>
