<!-- simple-with-dividers -->
<ul role="list" class="divide-y divide-gray-200">
  <li class="py-4">
    <!-- Your content -->
  </li>
  <li class="py-4">
    <!-- Your content -->
  </li>
  <li class="py-4">
    <!-- Your content -->
  </li>
</ul>


<!-- card-with-dividers -->
<ul role="list" class="divide-y divide-gray-200">
  <li class="py-4">
    <!-- Your content -->
  </li>
  <li class="py-4">
    <!-- Your content -->
  </li>
  <li class="py-4">
    <!-- Your content -->
  </li>
</ul>


<!-- card-with-dividers-full-width-on-mobile -->
<div class="overflow-hidden rounded-md bg-white shadow-sm">
  <ul role="list" class="divide-y divide-gray-200">
    <li class="px-6 py-4">
      <!-- Your content -->
    </li>
    <li class="px-6 py-4">
      <!-- Your content -->
    </li>
    <li class="px-6 py-4">
      <!-- Your content -->
    </li>
  </ul>
</div>


<!-- separate-cards -->
<div class="overflow-hidden rounded-md bg-white shadow-sm">
  <ul role="list" class="divide-y divide-gray-200">
    <li class="px-6 py-4">
      <!-- Your content -->
    </li>
    <li class="px-6 py-4">
      <!-- Your content -->
    </li>
    <li class="px-6 py-4">
      <!-- Your content -->
    </li>
  </ul>
</div>


<!-- separate-cards-full-width-on-mobile -->
<div class="overflow-hidden bg-white shadow-sm sm:rounded-md">
  <ul role="list" class="divide-y divide-gray-200">
    <li class="px-4 py-4 sm:px-6">
      <!-- Your content -->
    </li>
    <li class="px-4 py-4 sm:px-6">
      <!-- Your content -->
    </li>
    <li class="px-4 py-4 sm:px-6">
      <!-- Your content -->
    </li>
  </ul>
</div>


<!-- flat-card-with-dividers -->
<div class="overflow-hidden bg-white shadow-sm sm:rounded-md">
  <ul role="list" class="divide-y divide-gray-200">
    <li class="px-4 py-4 sm:px-6">
      <!-- Your content -->
    </li>
    <li class="px-4 py-4 sm:px-6">
      <!-- Your content -->
    </li>
    <li class="px-4 py-4 sm:px-6">
      <!-- Your content -->
    </li>
  </ul>
</div>


<!-- simple-with-dividers-full-width-on-mobile -->
<ul role="list" class="space-y-3">
  <li class="overflow-hidden rounded-md bg-white px-6 py-4 shadow-sm">
    <!-- Your content -->
  </li>
  <li class="overflow-hidden rounded-md bg-white px-6 py-4 shadow-sm">
    <!-- Your content -->
  </li>
  <li class="overflow-hidden rounded-md bg-white px-6 py-4 shadow-sm">
    <!-- Your content -->
  </li>
</ul>
