apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: health-samurai-dev

resources:
  - ../../base
  - ingress.yaml

namePrefix: dev-

commonLabels:
  environment: development

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: health-samurai-web

configMapGenerator:
  - name: health-samurai-config
    behavior: merge
    literals:
      - GIT_BRANCH=main
      - POLL_INTERVAL=30

images:
  - name: health-samurai-web
    newName: gcr.io/atomic-ehr/health-samurai-web
    newTag: latest
