apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: health-samurai-dev

resources:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: development

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: health-samurai-web

configMapGenerator:
  - name: health-samurai-config
    behavior: merge
    literals:
      - GIT_BRANCH=develop
      - POLL_INTERVAL=30
